@import "../../App.css";

.category-items {
    row-gap: 20px;
}

.category-items .category-item-img {
    border-radius: 10px;
    overflow: hidden;
}

.category-items .category-item-name {
    padding: 12px 0;
}

@media screen and (min-width: 576px) {
    .category-items {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media screen and (min-width: 992px) {
    .category-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .category-items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1400px) {
    .category-items {
        grid-template-columns: repeat(5, 1fr);
    }
}
